<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>add contact formularz</h1>

<form action="#" th:action="@{/addContact}" th:object="${contact}" method="post">
    <p>firstName: <input type="text" th:field="${contact.firstName}" /></p>
    <p>lastName: <input type="text" th:field="${contact.lastName}" /></p>
    <p>phone: <input type="text" th:field="${contact.phone}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>
